Package: doculib
Version: 1.2.1
Architecture: amd64
Maintainer: Nathan Guermond <nguermond@protonmail.com>
Depends: bash, libev4, libgmp10, libcairo2, libexpat1, libgtk-3-0
Description: A document metadata and library manger
